html, body {
	width: 100%;
	height: 100%;

	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.mainDiv {
	width: 100%;
	max-width: 1000px;
	height: 100%;
}

.header {
	width: 100%;
	height: 100px;

	flex-shrink: 0;

	margin: 16px 0px;

	border: 1px solid pink;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.pagesSpacer {
	width: 100%;
	height: 0px;
}

.pagesContainer {
	width: 100%;
	height: 100%;
}

.pageSingle {
	width: 100%;
	height: 1584px;

	border: 1px solid green;

	background-color: lightgreen;
}

.scrollTracker {
	width: 175px;
	height: 135px;

	border: 1px solid black;

	background-color: beige;

	position: fixed;
	top: 120px;
	right: 100px;
}

.scrollTracker > p {
	margin: 0;
	padding: 0;

	margin: 4px;
}

.Spinner {
  position         : relative;
  border-radius    : 50%;
  width            : 16px;
  height           : 16px;
  border           : .125rem solid rgba(41, 46, 49, .32);
  border-top-color : rgb(41, 46, 49);
  animation        : spin .5s infinite linear;
  transform        : translate(-50%, 0);
  left             : 50%;
  margin-top       : 32px;
}

.Spinner.light {
  border           : .125rem solid rgba(255, 255, 255, .32);
  border-top-color : rgb(255, 255, 255);
}

@keyframes spin {
  0% {
    transform : rotate(0deg);
  }
  100% {
    transform : rotate(360deg);
  }
}